
    <div class="mt-2" >
       <h1 class="text-center">Web Server Node JS</h1>

         
    <p class="text-center">Wellcome to my page <%= nama %> </p>


    <!-- array ejs + error Handling jika data tidak tersedia-->
        
    
    </div>
   
  
  
    