body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navbar{
  display: flex;
  background: rebeccapurple;
  justify-content: space-between;
  padding: 0 10px;
}

.right-nav ul{
  display: flex;
  flex-direction: row;
}

.right-nav li{
  padding: 15px 15px;
  cursor: pointer;
  margin-left: 10px;
  list-style: none;
} */
