<div class="container mt-3">
   <div class="row">
       <div class="col text-center">
           <div class="img"><img src="img/wgslogo.jpg">
           <h1 class="display-4">Welcome to WGS Bootcampbatch1 landingpage <br><%= nama  %> </h1>         
           </div>
       </div>
   </div>
</div>
<br><br>



    

    <!-- array ejs + error Handling jika data tidak tersedia-->
        
   
   
  
  
    