
    <div class="mt-2" >
       <h1 class="text-center">Web Server Node JS</h1>

         
    <p class="text-center">Wellcome to my page <%= nama %> </p>


    <!-- array ejs + error Handling jika data tidak tersedia-->
        <p>List Contact</p>
        <% if (contacts.length > 0){%>
        
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <% contacts.forEach((list,i) => {i++  %>
                  <tr>
                    <td scope="row"><%= i++ %> </td>
                    <td><%=list.name %></td>
                    <td><%=list.email %></td>
                  </tr>
                  <% })%>
              <% }else{ %>
                <tr>eweh</tr>
                
    
                <% } %> 
                </tbody>
              </table>
    
    </div>
   
  
  
    