<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <div class="img"><img src="img/aris.jpg" alt="Aris Nur Insan K">
            <h1 class="display-4">Aris Nur Insan K</h1>
            <p class="lead">The funiest member of WGS bootcampbacth1</p> 
            <br><br>
            <p>
                Hello, my name is Aris Nur Insan Karim, often called Aris or Obboi, I was born in Bekasi on November 18, 1994. 
                I have 2 younger siblings named Gina Nurul Iman and Shaffira Az-zahra Kirana. my motivation to join bootcampbatch1 at PT. Walden Global Service (WGS), 
                I hope to be able to develop and add knowledge about programming.I have a cheerful, friendly and polite nature towards superiors, subordinates, and co-workers. 
                My work experience is about engineering development
            </p>        
            </div>
        </div>
    </div>
</div>
<br><br>

<a href="/">Back</a></li>

